<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <div id ="main-container">
        <div id="contactList">
         <h1>   Contact List </h1>
         <ul id="list">
        <% for(i of contact_list) {%>
            
            <div id="single-contact">
                <div class="name"> NAME-  <%= i.name %></div>
                <div class="phone">PHONE-  <%= i.phone %> <span id="logo"><a href="/delete/<%= i._id %>"> Delete </a></span> </div>
            </div>

       


        
           
            <% } %>
        </ul>
        </div>

            <form method="POST" action="/submit"  id="myForm" >

                <div id="form-heading" >ADD NEW CONTACT</div>

                <label for="name">Name</label>
                <input type="text" name="name"  placeholder="Enter the name ">
                <label for="phone">Phone</label>
                <input type="text" name="phone"  placeholder="Enter the phone number">
                <button type="submit">Submit</button>
                
            </form>

        </div>
            <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>
